.main-title, .sub-title, .copyright, .contact {
	margin: 2px 0;
}
.main-title {
	font-size: 20px;
}
.sub-title {
	font-size: 12px;
}
.copyright, .contact {
	font-size: 10px;
}
.main {
	margin-top: 100px;
}
.nav,
.main {
	margin-left: 15%;
	margin-right: 15%;
}
.main-centered {
	margin-top: 100px;
	text-align: center;
}
.p {
	margin: 8px 0;
}
.type-0 {
	margin: 32px 0;
	background-color: #000000;
	color: #ffffff;
}
.type-0 a {
	color: #ffffff;
}
.type-0 .main-title {
	text-align: center;
}
.type-1 {
	margin: 32px 0;
	background-color: #000000;
	color: #ffffff;
}
.type-1 a {
	color: #ffffff;
}
.type-1 .nav,
.type-1 .main {
	margin-right: 32px;
}
.type-1 .item {
	margin: 64px 0;
	font-size: 14px;
}
.type-1 .footer {
	margin-left: 15%;
	padding-top: 64px;
}
.type-2 {
	background-color: #ffffff;
	color: #000000;
}
.type-2 .main {
	max-width: 900px;
	margin-top: 32px;
	padding-top: 32px;
}
.type-2 .item {
	font-size: 16px;
}
.type-2 .p {
	margin-bottom: 16px;
}
.type-2 .a {
	color: black;
}
.type-3 {
	background-color: #000000;
	color: #ffffff;
}
.type-3 .main {
	max-width: 900px;
	margin-top: 32px;
	padding-top: 32px;
}
.type-3 .item {
	font-size: 16px;
}
.type-3 .p {
	margin-bottom: 16px;
}
.type-3 .a {
	color: green;
}