body {
	background-color: #fff;
}

.area {
	text-align: center;
}

.area.area-top {
	font-size: 12px;
	margin-bottom: 8px;
}

.componentCanv > .componentCanv-canvas {
	border: 1px solid #000;
}

.componentControls > .componentControls-item {
	width: 60px;
	cursor: pointer;
}

.componentEditorgroup {
	position: relative;
	margin: 0 auto;
	width: 800px;
	height: 400px;
}

.componentEditorgroup > .componentEditorgroup-tabs {
	position: absolute;
	left: 0;
	top: 0;
}

.componentEditorgroup > .componentEditorgroup-tabs > .componentEditorgroup-tabs-tab {
	display: inline-block;
	position: relative;
	width: 40px;
	height: 20px;
	border: 1px solid #000;
	border-radius: 5px 5px 0 0;
	text-align: center;
	background-color: #ddd;
	cursor: pointer;
}

.componentEditorgroup > .componentEditorgroup-tabs > .componentEditorgroup-tabs-tab.top {
	background-color: #fff;
}

.componentEditorgroup > .componentEditorgroup-tabs > .componentEditorgroup-tabs-tab.top:after {
	content: '';
  position: absolute;
  left: 0;
  top: 20px;
  height: 1px;
  background-color: #fff;
  width: 40px;
}

.componentEditorgroup > .componentEditorgroup-tabs > .componentEditorgroup-tabs-tab > .componentEditorgroup-tabs-tab-link {
	text-decoration: none;
	color: #000;
}

.componentEditorgroup > .componentEditorgroup-controls {
	position: absolute;
	right: -2px;
	top: 0;
}

.componentEditorgroup > .componentEditorgroup-controls > .componentEditorgroup-controls-item {
	cursor: pointer;
}

.componentEditorgroup > .componentEditorgroup-editors {
	padding-top: 21px;
}

.componentEditorgroup > .componentEditorgroup-editors > .componentEditorgroup-editors-editor {
	display: none;
	width: 800px;
	height: 400px;
	padding: 0;
	border: 1px solid #000;
	resize: none;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
}

.componentEditorgroup > .componentEditorgroup-editors > .componentEditorgroup-editors-editor.top {
	display: block;
}